CREATE DATABASE [VITAFARMA]
GO
USE [VITAFARMA]
GO
/****** Object:  Table [dbo].[BARRIOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BARRIOS](
	[ID_BARRIO] [int] NOT NULL,
	[BARRIO] [varchar](50) NULL,
	[ID_PROVINCIA] [int] NULL,
 CONSTRAINT [PK_BARRIOS] PRIMARY KEY CLUSTERED 
(
	[ID_BARRIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARACTERISTICAS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARACTERISTICAS](
	[ID_CARACTERISTICA] [int] NOT NULL,
	[CARACTERISTICA] [varchar](50) NULL,
 CONSTRAINT [PK_CARACTERISTICAS] PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERISTICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[ID_OBRASOCIAL] [int] NULL,
	[ID_BARRIO] [int] NULL,
	[DNI] [bigint] NULL,
	[TELEFONO] [bigint] NULL,
	[EMAIL] [varchar](50) NULL,
	[SEXO] [bit] NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[ID_DET_FACT] [int] NOT NULL,
	[NRO_FACTURA] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_DET_FACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[ID_DET_PED] [int] NOT NULL,
	[ID_PEDIDO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_DET_PED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLE_SERVICIO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_SERVICIO](
	[ID_DET_SERV] [int] NOT NULL,
	[NRO_FACTURA] [int] NULL,
	[ID_MEDICO] [int] NULL,
	[ID_SERVICIO] [int] NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[ATENCION] [int] NULL,
	[DESCUENTO] [int] NULL,
 CONSTRAINT [PK_DETALLE_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[ID_DET_SERV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[LEGAJO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[ID_PUESTO] [int] NULL,
	[ID_SEDE] [int] NULL,
	[SUELDO] [decimal](10, 2) NULL,
	[FECHA_INGRESO] [date] NULL,
	[FECHA_BAJA] [date] NULL,
	[TELEFONO] [bigint] NULL,
	[EMAIL] [varchar](50) NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[LEGAJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[NRO_FACTURA] [int] NOT NULL,
	[FECHA] [date] NULL,
	[LEGAJO] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_PAGO] [int] NULL,
	[ID_SEDE] [int] NULL,
	[ID_ENVIO] [int] NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[NRO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FORMA_ENVIO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMA_ENVIO](
	[ID_ENVIO] [int] NOT NULL,
	[ENVIO] [varchar](50) NULL,
 CONSTRAINT [PK_FORMA_ENVIO] PRIMARY KEY CLUSTERED 
(
	[ID_ENVIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMA_PAGO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMA_PAGO](
	[ID_PAGO] [int] NOT NULL,
	[PAGO] [varchar](50) NULL,
 CONSTRAINT [PK_FORMA_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID_MARCA] [int] NOT NULL,
	[MARCA] [varchar](50) NULL,
 CONSTRAINT [PK_MARCAS] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEDICOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDICOS](
	[ID_MEDICO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[ID_OBRASOCIAL] [int] NULL,
	[ID_SEDE] [int] NULL,
	[TELEFONO] [bigint] NULL,
	[EMAIL] [varchar](50) NULL,
	[MATRICULA] [bigint] NULL,
	[FECHA_INGRESO] [date] NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_MEDICOS] PRIMARY KEY CLUSTERED 
(
	[ID_MEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OBRA_SOCIAL]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBRA_SOCIAL](
	[ID_OBRASOCIAL] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_OBRASOCIAL] PRIMARY KEY CLUSTERED 
(
	[ID_OBRASOCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAISES](
	[ID_PAIS] [int] NOT NULL,
	[PAIS] [varchar](50) NULL,
 CONSTRAINT [PK_PAIS] PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_PEDIDO] [int] NOT NULL,
	[FECHA] [date] NULL,
	[ID_PROVEEDOR] [int] NULL,
	[ID_PAGO] [int] NULL,
	[ID_ENVIO] [int] NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ID_CARACTERISTICA] [int] NULL,
	[ID_T_PRODUCTO] [int] NULL,
	[ID_MARCA] [int] NULL,
	[ID_PROVEEDOR] [int] NULL,
	[ID_PAIS] [int] NULL,
	[STOCK] [int] NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID_PROVEEDOR] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[ID_RAZON] [int] NULL,
	[TELEFONO] [bigint] NULL,
	[EMAIL] [varchar](50) NULL,
	[CALLE] [varchar](50) NULL,
	[CUIT] [bigint] NULL,
	[ID_BARRIO] [int] NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_PROVEDORES] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [int] NOT NULL,
	[PROVINCIA] [varchar](50) NULL,
	[ID_PAIS] [int] NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUESTOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUESTOS](
	[ID_PUESTO] [int] NOT NULL,
	[PUESTO] [varchar](50) NULL,
 CONSTRAINT [PK_PUESTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RAZON_SOCIAL]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RAZON_SOCIAL](
	[ID_RAZON] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_RAZON_SOCIAL] PRIMARY KEY CLUSTERED 
(
	[ID_RAZON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEDES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEDES](
	[ID_SEDE] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CALLE] [varchar](50) NULL,
	[TELEFONO] [bigint] NULL,
	[EMAIL] [varchar](50) NULL,
	[ID_BARRIO] [int] NULL,
 CONSTRAINT [PK_SEDES] PRIMARY KEY CLUSTERED 
(
	[ID_SEDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [int] NOT NULL,
	[SERVICIO] [varchar](50) NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_PRODUCTOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_PRODUCTOS](
	[ID_T_PRODUCTO] [int] NOT NULL,
	[TIPO] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOS_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_T_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BARRIOS]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_PROVINCIAS] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[BARRIOS] CHECK CONSTRAINT [FK_BARRIOS_PROVINCIAS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_BARRIOS] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_BARRIOS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_OBRASOCIAL] FOREIGN KEY([ID_OBRASOCIAL])
REFERENCES [dbo].[OBRA_SOCIAL] ([ID_OBRASOCIAL])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_OBRASOCIAL]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_FACTURAS] FOREIGN KEY([NRO_FACTURA])
REFERENCES [dbo].[FACTURAS] ([NRO_FACTURA])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_FACTURAS]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_PEDIDOS] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_PEDIDOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_PRODUCTOS]
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_SERVICIO_FACTURAS] FOREIGN KEY([NRO_FACTURA])
REFERENCES [dbo].[FACTURAS] ([NRO_FACTURA])
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO] CHECK CONSTRAINT [FK_DETALLE_SERVICIO_FACTURAS]
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_SERVICIO_MEDICOS] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[MEDICOS] ([ID_MEDICO])
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO] CHECK CONSTRAINT [FK_DETALLE_SERVICIO_MEDICOS]
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_SERVICIO_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO] CHECK CONSTRAINT [FK_DETALLE_SERVICIO_SERVICIOS]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_PUESTOS] FOREIGN KEY([ID_PUESTO])
REFERENCES [dbo].[PUESTOS] ([ID_PUESTO])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_PUESTOS]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_SEDES] FOREIGN KEY([ID_SEDE])
REFERENCES [dbo].[SEDES] ([ID_SEDE])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_SEDES]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_FORMA_ENVIO] FOREIGN KEY([ID_ENVIO])
REFERENCES [dbo].[FORMA_ENVIO] ([ID_ENVIO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURA_FORMA_ENVIO]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_CLIENTES]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_EMPLEADOS] FOREIGN KEY([LEGAJO])
REFERENCES [dbo].[EMPLEADOS] ([LEGAJO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_EMPLEADOS]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_FORMA_PAGO] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[FORMA_PAGO] ([ID_PAGO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_FORMA_PAGO]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_SEDES] FOREIGN KEY([ID_SEDE])
REFERENCES [dbo].[SEDES] ([ID_SEDE])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_SEDES]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_OBRA_SOCIAL] FOREIGN KEY([ID_OBRASOCIAL])
REFERENCES [dbo].[OBRA_SOCIAL] ([ID_OBRASOCIAL])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_MEDICOS_OBRA_SOCIAL]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_SEDE] FOREIGN KEY([ID_SEDE])
REFERENCES [dbo].[SEDES] ([ID_SEDE])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_MEDICOS_SEDE]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_FORMA_ENVIO] FOREIGN KEY([ID_ENVIO])
REFERENCES [dbo].[FORMA_ENVIO] ([ID_ENVIO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_FORMA_ENVIO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_FORMA_PAGO] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[FORMA_PAGO] ([ID_PAGO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_FORMA_PAGO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PROVEEDORES] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_PROVEEDORES]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CARACTERISTICAS] FOREIGN KEY([ID_CARACTERISTICA])
REFERENCES [dbo].[CARACTERISTICAS] ([ID_CARACTERISTICA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CARACTERISTICAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_MARCAS] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCAS] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_MARCAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_PAISES] FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_PAISES]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_PROVEEDORES] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_PROVEEDORES]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_TIPOS_PRODUCTOS] FOREIGN KEY([ID_T_PRODUCTO])
REFERENCES [dbo].[TIPOS_PRODUCTOS] ([ID_T_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_TIPOS_PRODUCTOS]
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK_PROVEDORES_BARRIOS] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK_PROVEDORES_BARRIOS]
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDORES_RAZON_SOCIAL] FOREIGN KEY([ID_RAZON])
REFERENCES [dbo].[RAZON_SOCIAL] ([ID_RAZON])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK_PROVEEDORES_RAZON_SOCIAL]
GO
ALTER TABLE [dbo].[PROVINCIAS]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIAS_PAISES] FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO
ALTER TABLE [dbo].[PROVINCIAS] CHECK CONSTRAINT [FK_PROVINCIAS_PAISES]
GO
ALTER TABLE [dbo].[SEDES]  WITH CHECK ADD  CONSTRAINT [FK_SEDES_BARRIOS] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[SEDES] CHECK CONSTRAINT [FK_SEDES_BARRIOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_PRODUCTO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CONSULTAR_PRODUCTO]
@ID INT
AS
BEGIN
	SELECT ID_PRODUCTO, NOMBRE, PRECIO, T.ID_T_PRODUCTO 'ID_T_PRODUCTO', T.TIPO 'TIPO', ACTIVO
	FROM PRODUCTOS P, TIPOS_PRODUCTOS T
	WHERE P.ID_T_PRODUCTO = T.ID_T_PRODUCTO AND P.ID_PRODUCTO = @ID
	AND ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CLIENTE]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_CLIENTE]
@ID INT
AS
BEGIN 
	UPDATE CLIENTES 
	SET ACTIVO = 0
	WHERE ID_CLIENTE = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_EMPLEADO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_EMPLEADO]
@ID INT
AS
BEGIN
	UPDATE  EMPLEADOS
	SET ACTIVO = 1,
	FECHA_BAJA = (SELECT(GETDATE()))
	WHERE LEGAJO = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_MEDICO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_MEDICO]
@ID INT
AS
BEGIN
	UPDATE MEDICOS
	SET ACTIVO = 1
	WHERE ID_MEDICO = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PRODUCTO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_PRODUCTO]
@ID_PRODUCTO INT
AS
BEGIN
	UPDATE PRODUCTOS SET ACTIVO = 0 WHERE ID_PRODUCTO = @ID_PRODUCTO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PROVEEDOR]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_PROVEEDOR]
@ID INT
AS
BEGIN
	UPDATE PROVEEDORES
	SET ACTIVO = 1
	WHERE ID_PROVEEDOR = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_FACTURACION_PRODUCTO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FACTURACION_PRODUCTO]
@id INT
AS 
BEGIN
	SELECT P.ID_PRODUCTO 'ID_PRODUCTO', P.NOMBRE 'NOMBRE', P.DESCRIPCION 'DESCRIPCION', P.ID_T_PRODUCTO 'ID_T_PRODUCTO', 
	P.ID_MARCA 'ID_MARCA', P.ID_PROVEEDOR 'ID_PROVEEDOR',
	P.ID_PAIS 'ID_PAIS', P.STOCK 'STOCK', P.PRECIO 'PRECIO',
	TP.ID_T_PRODUCTO 'ID_T_PRODUCTO', TP.TIPO  'TIPO' from PRODUCTOS P
	left join  tipos_productos tp on p.ID_T_PRODUCTO = tp.ID_T_PRODUCTO 
	WHERE P.ID_PRODUCTO = @id
	AND ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BARRIOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BARRIOS]
AS
BEGIN
	SELECT ID_BARRIO, BARRIO 
	FROM BARRIOS 
	ORDER BY BARRIO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CARACTERISTICA]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CARACTERISTICA]
AS
BEGIN
	SELECT ID_CARACTERISTICA, CARACTERISTICA 
	FROM CARACTERISTICAS
	ORDER BY CARACTERISTICA
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CLIENTE]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CLIENTE]
@ID INT
AS
BEGIN
	SELECT ID_CLIENTE, C.NOMBRE, APELLIDO, O.ID_OBRASOCIAL, O.NOMBRE, C.ID_BARRIO, B.BARRIO, DNI, TELEFONO,
	EMAIL, SEXO
	FROM CLIENTES C, OBRA_SOCIAL O, BARRIOS B
	WHERE C.ID_OBRASOCIAL = O.ID_OBRASOCIAL AND C.ID_BARRIO = B.ID_BARRIO AND ID_CLIENTE = @ID 
	AND ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CLIENTES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CLIENTES]
AS
BEGIN
	SELECT ID_CLIENTE, C.NOMBRE, APELLIDO, O.ID_OBRASOCIAL, O.NOMBRE, C.ID_BARRIO, B.BARRIO, DNI, TELEFONO,
	EMAIL, SEXO
	FROM CLIENTES C, OBRA_SOCIAL O, BARRIOS B
	WHERE C.ID_OBRASOCIAL = O.ID_OBRASOCIAL AND C.ID_BARRIO = B.ID_BARRIO AND ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMPLEADOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_EMPLEADOS]
AS
BEGIN
	SELECT E.LEGAJO 'LEGAJO', E.NOMBRE 'NOMBRE', E.APELLIDO 'APELLIDO', E.ID_PUESTO 'ID_PUESTO', P.PUESTO 'PUESTO', E.ID_SEDE 'ID_SEDE', S.NOMBRE 'SEDE', E.SUELDO 'SUELDO', E.FECHA_INGRESO 'FECHA_INGRESO', E.FECHA_BAJA 'FECHA_BAJA', E.TELEFONO 'TELEFONO', E.EMAIL 'EMAIL', E.ACTIVO 'ACTIVO' FROM EMPLEADOS E
	JOIN PUESTOS P ON E.ID_PUESTO = P.ID_PUESTO
	JOIN SEDES S ON E.ID_SEDE = S.ID_SEDE
	WHERE (ACTIVO = 0 OR ACTIVO IS NULL) OR
	FECHA_BAJA IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMPLEADOS_X_SEDE]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_EMPLEADOS_X_SEDE]
@SEDE INT
AS
BEGIN
	SELECT LEGAJO, NOMBRE, APELLIDO
	FROM EMPLEADOS
	WHERE ID_SEDE = @SEDE
	AND ( ACTIVO IS NULL OR ACTIVO = 0 )
	ORDER BY APELLIDO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_FORMA_ENVIO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_FORMA_ENVIO]
AS
BEGIN
	SELECT ID_ENVIO, ENVIO 
	FROM FORMA_ENVIO
	ORDER BY ENVIO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_FORMA_PAGO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_FORMA_PAGO]
AS
BEGIN
	SELECT ID_PAGO, PAGO 
	FROM FORMA_PAGO
	ORDER BY PAGO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MARCAS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_MARCAS]
AS
BEGIN
	SELECT ID_MARCA, MARCA 
	FROM MARCAS
	ORDER BY MARCA 
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MEDICOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_MEDICOS]
AS
BEGIN
	SELECT M.ID_MEDICO, M.MATRICULA, M.APELLIDO, M.NOMBRE, M.ID_OBRASOCIAL, O.NOMBRE, M.ID_SEDE,
	S.NOMBRE, M.FECHA_INGRESO, M.TELEFONO, M.EMAIL
	FROM MEDICOS M
	JOIN OBRA_SOCIAL O ON O.ID_OBRASOCIAL = M.ID_OBRASOCIAL
	JOIN SEDES S ON S.ID_SEDE = M.ID_SEDE
	WHERE ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_OBRAS_SOCIALES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_OBRAS_SOCIALES]
AS
BEGIN
	SELECT ID_OBRASOCIAL, NOMBRE
	FROM OBRA_SOCIAL
	ORDER BY NOMBRE
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PAISES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_PAISES]
AS
BEGIN
	SELECT ID_PAIS, PAIS 
	FROM PAISES
	ORDER BY PAIS
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PRODUCTOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PRODUCTOS]
AS
BEGIN
SELECT * FROM PRODUCTOS
WHERE ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PROVEEDOR]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PROVEEDOR]
AS
BEGIN
	SELECT ID_PROVEEDOR, NOMBRE 
	FROM PROVEEDORES
	WHERE ACTIVO IS NULL
	ORDER BY NOMBRE
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PROVEEDORES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PROVEEDORES]
AS
BEGIN
	SELECT P.ID_PROVEEDOR 'ID', P.NOMBRE 'NOMBRE', P.ID_RAZON 'ID_RAZON', R.DESCRIPCION 'RAZON', 
	P.ID_BARRIO 'ID_BARRIO' ,  B.BARRIO 'BARRIO', P.CALLE 'CALLE', P.CUIT 'CUIT', 
	P.TELEFONO 'TELEFONO' , P.EMAIL 'EMAIL' FROM PROVEEDORES P
	JOIN RAZON_SOCIAL R ON P.ID_RAZON = R.ID_RAZON
	JOIN BARRIOS B ON P.ID_BARRIO = B.ID_BARRIO
	WHERE ACTIVO IS NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PUESTOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_PUESTOS]
AS
BEGIN
	SELECT ID_PUESTO, PUESTO 
	FROM PUESTOS
	ORDER BY PUESTO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_RAZON_SOCIAL]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_RAZON_SOCIAL]
AS
BEGIN
	SELECT ID_RAZON, DESCRIPCION 
	FROM RAZON_SOCIAL
	ORDER BY DESCRIPCION
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SEDES]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_SEDES]
AS
BEGIN
	SELECT ID_SEDE, NOMBRE 
	FROM SEDES
	ORDER BY NOMBRE
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SERVICIOS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_SERVICIOS]
AS
BEGIN
	SELECT ID_SERVICIO, SERVICIO 
	FROM SERVICIOS
	ORDER BY SERVICIO
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_TIPO_PRODUCTO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_TIPO_PRODUCTO]
AS
BEGIN
	SELECT ID_T_PRODUCTO, TIPO 
	FROM TIPOS_PRODUCTOS
	ORDER BY TIPO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CLIENTE]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_CLIENTE]
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@OBRA_SOCIAL INT,
@BARRIO INT,
@DNI BIGINT,
@TELEFONO BIGINT,
@EMAIL VARCHAR(50),
@SEXO BIT
AS
BEGIN
	INSERT INTO CLIENTES(ID_CLIENTE, NOMBRE, APELLIDO, ID_OBRASOCIAL, ID_BARRIO, DNI,
	TELEFONO, EMAIL, SEXO)
	VALUES((SELECT MAX(ID_CLIENTE) + 1 FROM CLIENTES), @NOMBRE, @APELLIDO, @OBRA_SOCIAL, @BARRIO, @DNI, @TELEFONO, @EMAIL,
	@SEXO)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DET_FACTURA]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_DET_FACTURA]
@FACTURA INT,
@PRODUCTO INT,
@CANTIDAD INT,
@PRECIO DECIMAL(10,2)
AS
BEGIN
	INSERT INTO DETALLE_FACTURA(ID_DET_FACT, NRO_FACTURA, ID_PRODUCTO, CANTIDAD,PRECIO)
	VALUES ((SELECT MAX(ID_DET_FACT) + 1 FROM DETALLE_FACTURA),@FACTURA,@PRODUCTO,@CANTIDAD,@PRECIO)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DET_SERVICIO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_DET_SERVICIO]
@FACTURA INT,
@MEDICO INT,
@SERVICIO INT,
@PRECIO DECIMAL(10,2),
@ATENCION INT,
@DESCUENTO INT
AS
BEGIN
	INSERT INTO DETALLE_SERVICIO (ID_DET_SERV, NRO_FACTURA, ID_MEDICO, ID_SERVICIO, PRECIO, ATENCION, DESCUENTO)
	VALUES ((SELECT MAX(ID_DET_SERV) + 1 FROM DETALLE_SERVICIO),@FACTURA,@MEDICO,@SERVICIO,@PRECIO,@ATENCION, @DESCUENTO)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_EMPLEADO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_EMPLEADO]
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@PUESTO INT,
@SEDE INT,
@SUELDO DECIMAL(10,2),
@TELEFONO BIGINT,
@EMAIL VARCHAR(50)
AS
BEGIN
	INSERT INTO EMPLEADOS (LEGAJO,NOMBRE,APELLIDO,ID_PUESTO,ID_SEDE,SUELDO,FECHA_INGRESO,TELEFONO,EMAIL)
	VALUES ((SELECT MAX(LEGAJO) + 1 FROM EMPLEADOS),@NOMBRE,@APELLIDO,@PUESTO,@SEDE,@SUELDO,(SELECT GETDATE()),@TELEFONO,@EMAIL)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_FACTURAS]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_FACTURAS]
@LEGAJO INT,
@CLIENTE INT,
@PAGO INT,
@SEDE INT,
@ENVIO INT,
@FACTURA INT OUTPUT
AS
BEGIN

SELECT @FACTURA = (MAX(NRO_FACTURA) +1) FROM FACTURAS

INSERT INTO FACTURAS(NRO_FACTURA, FECHA,LEGAJO, ID_CLIENTE,ID_PAGO, ID_SEDE, ID_ENVIO)
VALUES(@FACTURA, GETDATE(), @LEGAJO, @CLIENTE,@PAGO, @SEDE, @ENVIO)

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_MEDICO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_MEDICO]
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@OBRA_SOCIAL INT,
@SEDE INT,
@TELEFONO BIGINT,
@EMAIL VARCHAR(50),
@MATRICULA INT
AS
BEGIN
	INSERT INTO MEDICOS(ID_MEDICO,NOMBRE, APELLIDO, ID_OBRASOCIAL, ID_SEDE, TELEFONO,
	EMAIL, MATRICULA, FECHA_INGRESO)
	VALUES((SELECT MAX(ID_MEDICO) + 1 FROM MEDICOS), @NOMBRE, @APELLIDO, @OBRA_SOCIAL,
	@SEDE, @TELEFONO, @EMAIL, @MATRICULA, GETDATE())
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PRODUCTO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_PRODUCTO]
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(100),
@TIPO_PRODUCTO INT,
@MARCA INT,
@PROVEEDOR INT,
@PAIS INT,
@STOCK INT,
@PRECIO DECIMAL(10,2),
@CARACTERISTICA INT
AS
BEGIN
	INSERT INTO PRODUCTOS(ID_PRODUCTO, NOMBRE, DESCRIPCION, ID_T_PRODUCTO, ID_MARCA, ID_PROVEEDOR,
	ID_PAIS, STOCK, PRECIO, ID_CARACTERISTICA)
	VALUES((SELECT MAX(ID_PRODUCTO) + 1 FROM PRODUCTOS), @NOMBRE, @DESCRIPCION, @TIPO_PRODUCTO, @MARCA, @PROVEEDOR,
	@PAIS, @STOCK, @PRECIO, @CARACTERISTICA)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PROVEEDOR]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_PROVEEDOR]
@NOMBRE VARCHAR(50),
@RAZON INT,
@TELEFONO BIGINT,
@EMAIL VARCHAR(50),
@CALLE VARCHAR(50),
@CUIT BIGINT,
@BARRIO INT
AS
BEGIN
	INSERT INTO PROVEEDORES (ID_PROVEEDOR,NOMBRE,ID_RAZON,TELEFONO,EMAIL,CALLE,CUIT,ID_BARRIO)
	VALUES ((SELECT MAX(ID_PROVEEDOR) + 1 FROM PROVEEDORES),@NOMBRE,@RAZON,@TELEFONO,@EMAIL,@CALLE,@CUIT,@BARRIO)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CLIENTE]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CLIENTE]
@ID INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@OBRA_SOCIAL INT,
@BARRIO INT,
@DNI BIGINT,
@TELEFONO BIGINT,
@EMAIL VARCHAR(50),
@SEXO BIT
AS
BEGIN
	UPDATE CLIENTES SET
		NOMBRE = @NOMBRE,
		APELLIDO = @APELLIDO,
		ID_OBRASOCIAL = @OBRA_SOCIAL,
		ID_BARRIO = @BARRIO,
		DNI = @DNI,
		TELEFONO = @TELEFONO,
		EMAIL = @EMAIL,
		SEXO = @SEXO
	WHERE ID_CLIENTE = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_EMPLEADO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_EMPLEADO]
@ID INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@PUESTO INT,
@SEDE INT,
@SUELDO DECIMAL(10,2),
@TELEFONO BIGINT,
@EMAIL VARCHAR(50)
AS
BEGIN
	UPDATE EMPLEADOS
	SET NOMBRE = @NOMBRE,
	APELLIDO = @APELLIDO,
	ID_PUESTO = @PUESTO,
	ID_SEDE = @SEDE,
	SUELDO = @SUELDO,
	TELEFONO = @TELEFONO,
	EMAIL = @EMAIL
	WHERE LEGAJO = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UPDATE_MEDICO]
@ID INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@OBRA_SOCIAL INT,
@SEDE INT,
@TELEFONO BIGINT,
@EMAIL VARCHAR(50)
AS
BEGIN
	UPDATE MEDICOS SET
	NOMBRE = @NOMBRE, 
	APELLIDO = @APELLIDO, 
	ID_OBRASOCIAL = @OBRA_SOCIAL,
	ID_SEDE = @SEDE, 
	TELEFONO = @TELEFONO, 
	EMAIL = @EMAIL
	WHERE ID_MEDICO = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PRODUCTO]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UPDATE_PRODUCTO]
@ID_PRODUCTO INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(100),
@TIPO_PRODUCTO INT,
@MARCA INT,
@PROVEEDOR INT,
@PAIS INT,
@STOCK INT,
@PRECIO DECIMAL(10,2),
@CARACTERISTICA INT
AS
BEGIN	
	UPDATE PRODUCTOS SET 
		NOMBRE = @NOMBRE,
		DESCRIPCION = @DESCRIPCION,
		ID_T_PRODUCTO = @TIPO_PRODUCTO,
		ID_MARCA = @MARCA,
		ID_PROVEEDOR = @PROVEEDOR,
		ID_PAIS = @PAIS,
		STOCK = @STOCK,
		PRECIO = @PRECIO,
		ID_CARACTERISTICA = @CARACTERISTICA
	WHERE ID_PRODUCTO = @ID_PRODUCTO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PROVEEDOR]    Script Date: 26/11/2023 5:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PROVEEDOR]
@ID INT,
@NOMBRE VARCHAR(50),
@RAZON INT,
@TELEFONO BIGINT,
@EMAIL VARCHAR(50),
@CALLE VARCHAR(50),
@CUIT BIGINT,
@BARRIO INT
AS
BEGIN
	UPDATE PROVEEDORES
	SET NOMBRE = @NOMBRE,
	ID_RAZON = @RAZON,
	TELEFONO = @TELEFONO,
	EMAIL = @EMAIL,
	CALLE = @CALLE,
	CUIT = @CUIT,
	ID_BARRIO = @BARRIO
	WHERE ID_PROVEEDOR = @ID
END;

GO

--///////////////////////////////////////////////////////////////////////
--                             I N S E R T S
--///////////////////////////////////////////////////////////////////////


SET DATEFORMAT DMY
GO

-- ########################################################################
--                                P A I S E S
-- ########################################################################

INSERT INTO PAISES (ID_PAIS, PAIS) VALUES
    (1, 'Argentina'),
    (2, 'Estados Unidos'),
    (3, 'Japón'),
    (4, 'Alemania'),
    (5, 'Reino Unido'),
    (6, 'Italia'),
    (7, 'China'),
    (8, 'Corea del Sur'),
    (9, 'Canadá'),
    (10, 'Francia'),
    (11, 'España');

--###############################################################################
--                            P R O V I N C I A S 
--###############################################################################


-- ########################################################################
--                             B A R R I O S
-- ########################################################################

--Barrios Cordoba


-- ########################################################################
--                        R A Z O N    S O C I A L
-- ########################################################################

INSERT INTO RAZON_SOCIAL (ID_RAZON,DESCRIPCION) VALUES
	(1, 'S.A'),
	(2, 'Compania Limitada'),
	(3, 'Mayorista'),
	(4, 'S.R.L'),
	(5, 'Compania Anonima'),
	(6, 'Distrubuidora'),
	(7, 'Exportadora'),
	(8, 'Corporacion');


-- ########################################################################
--                         P R O V E E D O R E S 
-- ########################################################################



-- ########################################################################
--                           F O R M A    P A G O
-- ########################################################################

INSERT INTO FORMA_PAGO (ID_PAGO, PAGO) VALUES 
	(1, 'Efectivo'),
	(2, 'Tarjeta de Crédito'),
	(3, 'Tarjeta de Débito'),
	(4, 'Transferencia Bancaria'),
	(5, 'Giftcard');

-- ########################################################################
--                          F O R M A    E N V I O
-- ########################################################################

INSERT INTO FORMA_ENVIO (ID_ENVIO, ENVIO) VALUES 
	(1, 'Estandar'),
	(2, 'Express'),
	(3, 'Al dia siguiente'),
	(4, 'Urgente'),
	(5, 'Pedidos Ya'),
	(6, 'Correo');




-- ########################################################################
--                              S E D E S
-- ########################################################################

INSERT INTO SEDES (ID_SEDE, NOMBRE, CALLE, ID_BARRIO, TELEFONO, EMAIL) VALUES
	(1, 'VITAFARMA CENTRO', 'Av. Emilio Olmos 292', 2, 3512388467, 'v_centro@vfarma.com'),
	(2, 'VITAFARMA NUEVA CBA', 'Av. Poeta Leopoldo Lugones 422', 3, 3517145690, 'v_nuevacba@vfarma.com'),
	(3, 'VITAFARMA COFICO', 'Gral. Juan B. Bustos 331', 6, 3513412093, 'v_cofico@vfarma.com'),
	(4, 'VITAFARMA JARDIN', 'Bv Elias Yofre 1063', 13, 3516417639, 'v_jardin@vfarma.com'),
	(5, 'VITAFARMA GENERAL PAZ', '25 de Mayo 868', 5, 3517546519, 'v_generalpaz@vfarma.com');

-- ########################################################################
--                              P U E S T O S
-- ########################################################################

INSERT INTO PUESTOS (ID_PUESTO, PUESTO) VALUES 
	(1, 'Gerente de Tienda'),
	(2, 'Asistente de Gerente'),
	(3, 'Vendedor de Productos de Belleza'),
	(4, 'Vendedor de Golosinas'),
	(5, 'Cajero'),
	(6, 'Diseñador Gráfico'),
	(7, 'Asistente de Ventas'),
	(8, 'Repositor'),
	(9, 'Personal de Limpieza'),
	(10, 'Comiunity Manager');


-- ########################################################################
--                           E M P L E A D O S
-- ########################################################################


-- ########################################################################
--                     T I P O   D E   P R O D U C T O
-- ########################################################################



-- ########################################################################
--                              M A R C A S
-- ########################################################################

INSERT INTO MARCAS (ID_MARCA, MARCA) VALUES
    (1, 'Pfizer'),
    (2, 'Novartis'),
    (3, 'GlaxoSmithKline'),
    (4, 'L Oréal'),
    (5, 'Maybelline'),
    (6, 'Nivea'),
	(7, 'Johnson & Johnson'),
    (8, 'Pampers'),
    (9, 'Gerber'),
	(10, 'Clorox'),
    (11, 'Mr. Clean'),
    (12, 'Lysol'),
	(13, 'Kelloggs'),
    (14, 'Nestlé'),
    (15, 'Lipton'),
	(16, 'Philips'),
    (17, 'Babyliss'),
    (18, 'Dyson'),
	(19, 'Colgate'),
    (20, 'Johnson & Johnson'),
    (21, 'Dove');


-- ########################################################################
--                    C A R A C T E R I S T I C A S
-- ########################################################################

INSERT INTO CARACTERISTICAS (ID_CARACTERISTICA, CARACTERISTICA) VALUES
    (1, 'Vida Util Prolongada'),
    (2, 'Fragil'),
    (3, 'Ingredientes Naturales'),
    (4, 'Importado'),
    (5, 'Reciclable'),
    (6, 'Orgánico');

-- ########################################################################
--							P R O D U C T O S
-- ########################################################################


-- ########################################################################
--                              P E D I D O S
-- ########################################################################

	 


-- ########################################################################
--                       D E T A L L E S  P E D I D O S
-- ########################################################################



-- ########################################################################
--							O B R A     S O C I A L
-- ########################################################################

INSERT INTO OBRA_SOCIAL (ID_OBRASOCIAL, NOMBRE)
VALUES
(1, 'Luz Y Fuerza'),
(2, 'OSIM'),
(3, 'OSECAC'),
(4, 'PAMI');

-- ########################################################################
--							C L I E N T E S
-- ########################################################################



-- ########################################################################
--							   M E D I C O S 
-- ########################################################################


-- ########################################################################
--							   S E R V I C I O 
-- ########################################################################

INSERT INTO SERVICIOS (ID_SERVICIO, SERVICIO)
VALUES 
    (1, 'Control de Presión'),
    (2, 'Aplicación de Inyecciones'),
    (3, 'Medición de Glucosa'),
    (4, 'Control de Peso y Talla'),
    (5, 'Asesoramiento en Salud'),
    (6, 'Pruebas de Embarazo'),
    (7, 'Medición de Temperatura'),
    (8, 'Control de Colesterol');

-- ########################################################################
--							F A C T U R A S
-- ########################################################################



-- ########################################################################
--						D E T A L L E	F A C T U R A S
-- ########################################################################




-- ########################################################################
--						D E T A L L E	S E R V I C I O S
-- ########################################################################

